* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  padding: 1.5rem;
  background-color: #000;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0 30px;
  color: #fff;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  border-radius: 16px;
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  margin: 25px 0;
  width: 350px;
}

.card img {
  margin: 1rem 0;
  width: 150px;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 82%);
}

.card p {
  text-align: left;
  font-style: italic;
}